extends layout.pug 
block content 
 section#cutoff_filtered  
  .back 
   button(onclick="history.back()" ) << go back 
  .intro_container  
   .p_details
    h1 Student's Details
    .details
     p 
      b Name :  
      span=data.name
     p 
      b Shs Program : 
      span=data.shsprogram 
     p 
      b Aggregate calculated : 
      span=data.aggregate
     p 
      b Fields Of Interest 
      ul
       each interest in data.interests 
        li=interest      
   .intro_img 
    img(src="./images/undraw_interests.png" alt="Students illust..")
  hr

  h1.phase2 The Programs Below Are Eligible For You Based On The Aggregate You Had In Wassce 
  .sidenotes 
   p Numbers associated with each program is the cutoff point required for that particular program.
   p Click on a program to read more about it.
  .phase2_contents 
   if detail_programs 
    each data in detail_programs 
     h1=data.title
     .programs_holder 
      if data.content.length==0
        p Sorry No Programs Available For You in this Section , Because your aggregate did not meet the cutoff requirement for all programs in this field.
      each program in data.content
       a.prog_cont(href=`/prog_details?id=${program.id}`) 
        p=program.program_name
         span &nbsp;  
         span=program.cutoff   
  .outro 
   p Please Note That You are elligible and can apply for any of the programs above click to apply &nbsp;
    a(href="/upsdss_apply") apply 
   p Click view to see suggested programs based on your strengths.
     a(href="/view_programs") view    
   