extends layout.pug 
block content 
 section#program_details
  .intro
   h1 Senior High School Program Details
   .pd_image 
    img(src="./images/collect.png", alt="data collection image") 
  hr
  .personal_subjects_container 
   .personal_details
    h1 Personal Details 
    .name
     if user
      p Name : &nbsp;
      p=user.username
     else 
      p Name : &nbsp;
      p John Doe  
    .programoffered
     if user 
      p Program Offered In SHS : &nbsp;
      p= user.shsprogram 
     else 
      p Program Offered In SHS : &nbsp;
      p Now loading... 
   .core_subjects 
    h2 Core Subjects
    ul  
     li.core English Language
     li.core Core Mathematics
     li.core Integrated Science 
     li.core Social Studies   
  hr   
  .electives_container 
   h2 Select Your  Elective Subjects (
    span#red  Electives Must be 4 in total 
    span )
       
   if electives
    .elective_form 
     form(name = 'elective_subjects' class="elective_form" action=""  id="electiveform")  
      .elective_subs
       each subject,index in electives
        .opt_cont 
         label(for=index)=subject
         input(type="checkbox" class="opt2" name="elective" value=subject id=index)
      .submit   
       input(type="submit" value="next >>")
  .scores_container#scores_cont
   h1 ENTER THE GRADES YOU HAD IN WASSCE (
     span#red  Your Grades Must Be Accurate 
     span )
   p NB: Grades should be the same as on WASSCE results. Grades should be one of (A1,B2,B3,C4,C5,C6,D7,E8 and F9)  
     
   form(name="scores"  class="scores_form" action="/users/program_details" id="scores_form" method="post")  
 script(src="./js/main.js") 
